<div *ngIf="postForm">
  <app-post-alerts [successMessage]="successMessage"></app-post-alerts>
  <app-post-alerts [errorMessage]="errorMessage"></app-post-alerts>
  <form class="post-form" [formGroup]="postForm" novalidate>
    <mat-form-field class="post-form-field">
      <textarea matInput placeholder="Tytuł:" formControlName="title" required></textarea>
    </mat-form-field>
    <mat-form-field class="post-form-field">
      <textarea matInput rows="2" placeholder="Opis:" formControlName="description" required></textarea>
    </mat-form-field>
    <mat-form-field class="post-form-field">
      <textarea matInput rows="12" placeholder="Treść:" formControlName="content" required></textarea>
    </mat-form-field>
    <mat-form-field class="post-form-field">
      <input matInput placeholder="Dodaj link do zdjęcia:" formControlName="imgUrl">
    </mat-form-field>
  </form>
</div>
<button mat-flat-button (click)="updatePost()">Zapisz zmiany</button>
<button mat-flat-button (click)="removePost(post._id)">Usuń</button>
